{
  "port": 1111,
  "dbConn": "mongodb://localhost:27017",
  "dbName": "serv",
  "dictPort": 2222,
  "dictPass": "ppp",
  "sgKey": "",
  "siteEmail": "info@noamso.one",
  "smtpService": "",
  "smtpUser": "",
  "smtpPass": ""
}

